body > div.container {
	margin-top: 50px;
}

dd.error, div.error {
	color: red;
}

.search-bar dt {
	display: none;
}

.search-bar dl {
	margin: 0;
}

.pagination-container {
	text-align: center;
}

img.cashy-logo {
	width: 75px;
	margin-top: -21px;
}