@import com.lucidchart.open.cashy.models.{User, BrowseItem, BrowseItemType}
@import com.lucidchart.open.cashy.views
@import com.lucidchart.open.cashy.controllers.{routes=>cashyRoutes}
@import com.lucidchart.open.cashy.views.html.helpers.assetDetails
@import helper._

@(
  bucketName: String,
  path: String,
  crumbs: List[Tuple2[String,String]],
  items: List[BrowseItem],
  marker: Option[String],
  nextMarker: Option[String]
)(
  implicit
  request: play.api.mvc.Request[_],
  buckets: com.lucidchart.open.cashy.config.Buckets,
  user: User,
  messages: play.api.i18n.Messages
)

@com.lucidchart.open.cashy.views.html.layouts.main(userOption=Some(user)) {
  <div class="row">
    <h2>@bucketName</h2>
    <ol class="breadcrumb">
      <li><a href="@cashyRoutes.BrowseController.index(bucketName, "")">@bucketName</a></li>
      @for((crumb, path) <- crumbs) {
        <li><a href="@cashyRoutes.BrowseController.index(bucketName, path)">@crumb</a></li>
      }
    </ol>
    <div class="container-fluid">
      <div class="row-fluid">
        <a href="@cashyRoutes.UploadController.index(Some(bucketName), Some(path))"><button class="btn btn-primary">Upload Here</button></a>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newFolderModal">
          Create Folder
        </button>

        <!-- Modal -->
        <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create folder in @path</h4>
              </div>
              <div class="modal-body">
                <div>Please only create a folder if you intend to upload to it</div><br />
                <input id="newFolderName" type="text" placeholder="Folder Name" style="width: 100%;" />
                <div id="newFolderError" class="error"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="createFolderSubmit" class="btn btn-primary">Create Folder</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row-fluid asset-list">
        @for(item <- items) {
          @if(item.hidden) {
            <div class="asset-row hidden">
            <a class="show-item" data-key="@item.key">show</a>
          } else {
            <div class="asset-row">
            <a class="hide-item" data-key="@item.key">hide</a>
          }
            @item.itemType match {
              case BrowseItemType.folder => {<span class="glyphicon glyphicon-folder-open"></span><a href="@item.link">@item.name</a>}
              case BrowseItemType.asset => {<span class="glyphicon glyphicon-file"></span><a class="asset" href="#" data-key="@item.key">@item.name</a>}
            }
          </div>
        }
        @if(marker.isDefined) {
          <button class="btn pull-left" id="browsePrevBtn">Prev</button></a>
        }
        @if(nextMarker.isDefined) {
          <a href="@cashyRoutes.BrowseController.index(bucketName, path, nextMarker)"><button class="btn pull-right">Next</button></a>
        }

        @{ assetDetails(bucketName, "asset") }

      </div>
      <div>
        <br />
        @defining(items.count(_.hidden)) { hiddenCount =>
          @if(hiddenCount > 0) {
            <div>
              <a id="showHidden">Show <span class="hidden-count"></span> hidden item(s)</a>
              <a id="hideHidden">Hide <span class="hidden-count"></span> item(s)</a>
            </div>
          }
          <div>
            <a id="manageHidden">Manage hidden items</a>
            <a id="stopManageHidden">Stop managing hidden items</a>
          </div>
        }
      </div>
    </div>
  </div>

  <script>

    $('#createFolderSubmit').click(function(e) {
      e.preventDefault();
      var folderName = $('#newFolderName').val();
      var folderParent = '@path';
      if (folderParent.length > 0 && folderParent.slice(-1) !== '/') {
        folderParent += '/';
      }

      $.ajax({
        'type': 'POST',
        'url': '/browse/@bucketName/' + folderParent + folderName + '/create',
        success: function(data) {
          if(data.error) {
            $('#newFolderError').text(data.error);
          } else {
            location.reload();
          }
        }
      });
    });

    $('#browsePrevBtn').click(function() {
      window.history.back();
    });

    // auto focus for folder create
    $('#newFolderModal').on('shown.bs.modal', function () {
      $('#newFolderName').focus()
    });

    var hiddenCount = @items.count(_.hidden);

    var showHidden = localStorage.getItem('showHiddenAssets') == "true";

    var showHiddenItems = function() {
      $(".asset-row.hidden").addClass("show-opaque");
      showHidden = true;
      $("#hideHidden").toggle(showHidden);
      $("#showHidden").toggle(!showHidden);
      localStorage.setItem('showHiddenAssets', 'true');
    }

    var hideHiddenItems = function() {
      $(".asset-row.hidden").removeClass("show-opaque");
      showHidden = false;
      $("#hideHidden").toggle(showHidden);
      $("#showHidden").toggle(!showHidden);
      localStorage.setItem('showHiddenAssets', 'false');
    }

    if (showHidden) {
      showHiddenItems();
    } else {
      hideHiddenItems();
    }

    var updateHiddenCount = function() {
      $(".hidden-count").html(hiddenCount);
    }

    updateHiddenCount();

    $("#showHidden").click(showHiddenItems);
    $("#hideHidden").click(hideHiddenItems);

    $("#stopManageHidden").hide();
    $("#manageHidden").click(function() {
      $(".asset-list").addClass("manage-hidden");
      $("#manageHidden").hide();
      $("#stopManageHidden").show();
    });

    $("#stopManageHidden").click(function() {
      $(".asset-list").removeClass("manage-hidden");
      $("#manageHidden").show();
      $("#stopManageHidden").hide();
    });

    var showItemHtml = '<a class="show-item">show</a>';
    var hideItemHtml = '<a class="hide-item">hide</a>';

    $(".asset-row").on("click", ".show-item", function() {
      var el =  $(this);
      var itemKey = el.attr("data-key");

      $.ajax({
        'type': 'POST',
        'url': '/browse/@bucketName/' + itemKey + '/show',
        success: function(data) {
          if(data.error) {
            alert(data.error);
          } else {
            el.parent().removeClass("hidden show-opaque");
            var replacement = $(hideItemHtml);
            replacement.attr("data-key", itemKey);
            el.replaceWith(replacement);
            hiddenCount--;
            updateHiddenCount();
          }
        }
      });
    });

    $(".asset-row").on("click", ".hide-item", function() {
      var el =  $(this);
      var itemKey = el.attr("data-key");

      $.ajax({
        'type': 'POST',
        'url': '/browse/@bucketName/' + itemKey + '/hide',
        success: function(data) {
          if(data.error) {
            alert(data.error);
          } else {
            el.parent().addClass("hidden show-opaque");
            var replacement = $(showItemHtml);
            replacement.attr("data-key", itemKey);
            el.replaceWith(replacement);
            hiddenCount++;
            updateHiddenCount();
          }
        }
      });
    });

  </script>

  <style>
    .asset-list {
      margin-top: 20px;
    }
    .asset-list .asset-row span {
      margin-right: 5px;
      width: 20px;
    }
    .asset-row a {
      font-size: 16px;
    }
    .asset-row.hidden.show-opaque {
      display: block !important;
      visibility: visible !important;
      opacity: 0.5;
    }
    #hideHidden, #showHidden, #manageHidden, #stopManageHidden {
      cursor: pointer;
    }
    .show-item, .hide-item {
      display: none;
      cursor: pointer;
    }
    .hide-item {
      margin-right: 7px;
    }
    .asset-list.manage-hidden .hide-item, .asset-list.manage-hidden .show-item {
      display: inline-block;
    }
  </style>

}(request, buckets, messages)
