@import com.lucidchart.open.cashy.controllers.routes
@import com.lucidchart.open.cashy.models.{AuditPage, User}
@import com.lucidchart.open.cashy.views
@import com.lucidchart.open.cashy.views.html.helpers.pagination
@(auditPage: AuditPage)(
  implicit request: play.api.mvc.Request[_],
  user: User,
  buckets: Set[String]
)

@views.html.layouts.main(
  title="Audit",
  userOption=Some(user)
) {
  <h2>Audit Logs</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Type</th>
        <th>Data</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      @for(audit <- auditPage.audits) {
        <tr>
          <td>@audit.user</td>
          <td>@audit.auditType</td>
          <td>@audit.data</td>
          <td>@audit.created</td>
        </tr>
      }
    </tbody>
  </table>
  @{ pagination(auditPage.current, auditPage.max) { i => routes.AuditController.audit(i).url } }
}
