@import com.lucidchart.open.cashy.models.User
@import com.lucidchart.open.cashy.views
@import com.lucidchart.open.cashy.controllers.{routes=>cashyRoutes}
@import helper._

@(
  assetLink: String
)(
  implicit
  request: play.api.mvc.Request[_],
  buckets: Set[String],
  userOption: Option[User]
)

@com.lucidchart.open.cashy.views.html.layouts.main(userOption=userOption) {
  <div class="row">
    <h2>Upload Complete</h2>
    <div class="well">
      Your asset is located at: <a href="@assetLink" target="_blank">@assetLink</a>
      <br /><br />
      <a href="@cashyRoutes.UploadController.index()"><button class="btn btn-primary">Upload Another</button></a>
    </div>
  </div>
}
