@import com.lucidchart.open.cashy.models.User
@import com.lucidchart.open.cashy.views
@import com.lucidchart.open.cashy.controllers.{routes=>cashyRoutes}
@import helper._

@(
  uploadForm: Form[_],
  uploadError: Option[String] = None
)(
  implicit
  request: play.api.mvc.Request[_],
  buckets: Set[String],
  user: User
)

@com.lucidchart.open.cashy.views.html.layouts.main(userOption=Some(user)) {
  <div class="row">
    <h2>Upload Assets</h2>
    <div class="well col-xs-6">
      @helper.form(action=cashyRoutes.UploadController.uploadToS3(), ('enctype -> "multipart/form-data")) {
        <fieldset>
          @helper.select(uploadForm("bucket"), buckets.map(b => b.toString -> b.toString).toSeq, '_label -> "Bucket", '_showConstraints -> false)
          @helper.inputFile(uploadForm("assetFile"), '_label -> "Asset File", 'size -> 10, 'id -> "fileInput")
          @helper.input(uploadForm("assetName"), '_label -> "Asset Name", 'id -> "fileName") { (id, name, value, args) =>
            <input type="text" name="@name" id="@id" @toHtmlArgs(args) class="form-control" value="@value" />
          }
          <button class="btn btn-primary">Upload</button>
        </fieldset>
      }
      @if(uploadForm.hasErrors) {
        @for(error <- uploadForm.errors if error.key.isEmpty) {
          <div class="error">
            @error.message
          </div>
        }
      }
      @if(uploadError.isDefined) {
        <div class="error">
        @uploadError.get
        </div>
      }

    </div>
  </div>

  <script>
  $('#fileInput').change(function(e) {
    var fileName = $(this).val().split(/(\\|\/)/g).pop()
    $('#fileName').val($('#fileName').val() + fileName)
  });
  </script>
}
