@import com.lucidchart.open.cashy.models.User
@import com.lucidchart.open.cashy.views
@import com.lucidchart.open.cashy.controllers.{routes=>cashyRoutes}
@import helper._

@(
  formCreate: Form[_],
  uploadError: Option[String] = None
)(
  implicit
  request: play.api.mvc.Request[_],
  buckets: Set[String],
  user: User
)

@com.lucidchart.open.cashy.views.html.layouts.main(userOption=Some(user)) {
  <div class="row">
    <h2>Upload Assets</h2>
    <div class="well">
      @helper.form(action=cashyRoutes.UploadController.uploadToS3(), ('enctype -> "multipart/form-data")) {
        <fieldset>
          @helper.select(formCreate("bucket"), buckets.map(b => b.toString -> b.toString).toSeq, '_label -> "Bucket", '_showConstraints -> false)
          @helper.inputText(formCreate("assetName"), '_label -> "Asset Name")
          @helper.inputFile(formCreate("assetFile"), '_label -> "Asset File", 'size -> 10)
          <button class="btn btn-primary">Upload</button>
        </fieldset>
      }
      @if(formCreate.hasErrors) {
        @for(error <- formCreate.errors if error.key.isEmpty) {
          <div class="error">
            @error.message
          </div>
        }
      }
      @if(uploadError.isDefined) {
        <div class="error">
        @uploadError.get
        </div>
      }

    </div>
  </div>
}
