@import com.lucidchart.open.cashy.models.User
@import com.lucidchart.open.cashy.views
@import com.lucidchart.open.cashy.controllers.{routes=>cashyRoutes}
@import com.lucidchart.open.cashy.config.ExtensionType
@import com.lucidchart.open.cashy.config.UploadFeatures
@import helper._

@(
  uploadForm: Form[_],
  uploadError: Option[String] = None
)(
  implicit
  request: play.api.mvc.Request[_],
  buckets: com.lucidchart.open.cashy.config.Buckets,
  extensions: com.lucidchart.open.cashy.config.ExtensionsConfig,
  user: User,
  uploadFeatures: UploadFeatures,
  messages: play.api.i18n.Messages
)

@com.lucidchart.open.cashy.views.html.layouts.main(userOption=Some(user)) {
  <div class="row">
    <h2>Upload Assets</h2>
    <div class="well col-xs-6">
      @form(action=cashyRoutes.UploadController.uploadToS3, Symbol("id") -> "uploadForm", (Symbol("enctype") -> "multipart/form-data")) {
        @CSRF.formField
        <fieldset>
          @helper.select(uploadForm("bucket"), buckets.names.map(b => b -> b).toSeq, Symbol("id") -> "bucket", Symbol("_label") -> "Bucket", Symbol("_showConstraints") -> false)
          @defining(request.queryString.get("assetURL")) { url =>
            <ul class="nav nav-tabs" role="tablist">
              <li class="@if(!url.isDefined) {active}"><a href="#assetFromFile" role="tab" data-toggle="tab">From File</a></li>
              <li class="@if(url.isDefined) {active}"><a href="#assetFromURL" role="tab" data-toggle="tab">From URL</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane @if(!url.isDefined) {active}" id="assetFromFile">
                @helper.inputFile(uploadForm("assetFile"), Symbol("_label") -> "Asset File", Symbol("size") -> 10, Symbol("id") -> "fileInput")
              </div>
              <div class="tab-pane @if(url.isDefined) {active}" id="assetFromURL">
                @helper.input(uploadForm("assetURL"), Symbol("_label") -> null, Symbol("id") -> "assetURL") { (id, name, value, args) =>
                  <input type="url" name="@name" id="@id" @toHtmlArgs(args) class="form-control" value="@value" placeholder="Enter a URL" />
                }
              </div>
            </div>
          }
          <dl>
            <dt>Asset Prep</dt>
            <dd>
                <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#imageInstructionModal">image</button>
                <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#jsInstructionModal">javascript</button>
                <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#cssInstructionModal">css</button>
            </dd>
          </dl>
          @if(uploadFeatures.compressJsEnabled) {
            <dl id="jsUploadInfo" class="upload-info">
              <dt>JavaScript Asset</dt>
              <dd>
                Your javascript file will be minified and the original and .min version will both be uploaded
              </dd>
            </dl>
          }
          @if(uploadFeatures.compressCssEnabled) {
            <dl id="cssUploadInfo" class="upload-info">
              <dt>CSS Asset</dt>
              <dd>
                Your css file will be minified and the original and .min version will both be uploaded
              </dd>
            </dl>
          }
          @helper.input(uploadForm("assetName"), Symbol("_label") -> "Asset Name", Symbol("id") -> "fileName") { (id, name, value, args) =>
            <input type="text" name="@name" id="@id" @toHtmlArgs(args) class="form-control" value="@value" />
          }
          <button data-loading-text="Uploading..." class="btn btn-primary" id="uploadButton">Upload</button>
          <button class="btn btn-primary" id="previewImageButton">Preview</button>
        </fieldset>
      }
      @if(uploadForm.hasErrors) {
        @for(error <- uploadForm.errors if error.key.isEmpty) {
          <div class="error">
            @error.message
          </div>
        }
      }
      <dl class="error" id="otherErrors">
        @if(uploadError.isDefined) {
          <dd class="error">@uploadError.get</dd>
        }
      </dl>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="imageInstructionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Uploading an Image</h4>
        </div>
        <div class="modal-body">
          <ol>
            <li>Resize it</li>
            <li><span style="border-bottom:1px dotted #999;" data-toggle="tooltip" data-placement="right" title="dog_300x300.png">Name it</span></li>
            <li>Upload it</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="jsInstructionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Uploading Javascript</h4>
        </div>
        <div class="modal-body">
          <ol>
            <li><a href="http://closure-compiler.appspot.com/" target="_blank">Optimize it</a></li>
            <li><span style="border-bottom:1px dotted #999;" data-toggle="tooltip" data-placement="right" title="Add a version number or date to the file">Rename it</span></li>
            <li>Upload it</li>
            <li>Consider <span style="border-bottom:1px dotted #999;" data-toggle="tooltip" data-placement="right" title="Concatenate multiple javascript sources together to save HTTP requests">Bundling</span> it</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="cssInstructionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Uploading CSS</h4>
        </div>
        <div class="modal-body">
          <ol>
            <li><span style="border-bottom:1px dotted #999;" data-toggle="tooltip" data-placement="right" title="Add a version number or date to the file">Rename it</span></li>
            <li>Upload it</li>
            <li>Consider <span style="border-bottom:1px dotted #999;" data-toggle="tooltip" data-placement="right" title="Concatenate multiple CSS sources together to save HTTP requests">Bundling</span> it</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<style>
  .check-show {
    display: none;
  }
  input[type="checkbox"]:checked~.check-show {
    display: block;
  }
  dl.inline-input {
    display: inline-block;
  }
  #imageUploadInfo dl {
    margin-bottom: 0;
  }
  #uploadRetina {
    margin-top: 20px;
  }
  .resize-error, .retina-error {
    color: red;
  }
  #imageUploadInfo label {
    font-weight: normal;
  }
  #resizedImage, #originalImage {
    max-width: 250px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  #resizedImage img, #originalImage img {
    max-width: 250px;
  }
  #previewImageButton:disabled {
    cursor: wait;
  }
  #uploadButton:disabled {
    cursor: wait;
  }
</style>

<script>

  // Whenever the fileInput or assetURL change, try to do some preprocessing
  function preProcessAsset(e) {
    var me = this;

    var assetFullName = $('#fileName').val();
    var uploadFileName;
    if($('#assetFromFile').hasClass('active')) {
      // If it is from file, get the filename from that field
      uploadFileName = $(me).val().split(/(\\|\/)/g).pop();
    } else {
      // Assume it is from URL
      uploadFileName = $('#assetURL').val().split(/(\\|\/)/g).pop().split(/\?/)[0];;
    }

    var assetFileName = assetFullName.split(/(\\|\/)/g).pop();

    if (assetFileName.length == 0) {
      $('#fileName').val(assetFullName + uploadFileName);
    } else {
      $('#fileName').val(assetFullName.replace(assetFileName, uploadFileName));
    }
    assetFullName = $('#fileName').val();
    var extension = assetFullName.split(/\./g).pop();
    var noExtensionName = assetFullName.substr(0, assetFullName.length - extension.length - 1);

    // Show js additional info
    if (@uploadFeatures.compressJsEnabled && [@Html(extensions(ExtensionType.js).map("\"" + _.toLowerCase + "\"").mkString(","))].indexOf(extension.toLowerCase()) >= 0) {
      $('#jsUploadInfo').show();
    } else {
      $('#jsUploadInfo').hide();
    }

    // Show css additional info
    if (@uploadFeatures.compressCssEnabled && [@Html(extensions(ExtensionType.css).map("\"" + _.toLowerCase + "\"").mkString(","))].indexOf(extension.toLowerCase()) >= 0) {
      $('#cssUploadInfo').show();
    } else {
      $('#cssUploadInfo').hide();
    }

    // Remove all image errors
    $(".image-error").remove();
  }  // preProcessAsset

  $('#uploadButton').click(function(event) {
    $(this).button('loading');
    $('dd.error').remove();
    $('dl.error').removeClass('error');

    $.ajax({
      url: '@cashyRoutes.UploadController.validate',
      type: 'post',
      dataType: 'json',
      processData: false,
      contentType: false,
      data: new FormData($('#uploadForm').get(0)),
      success: function(data) {
        if (data.success) {

          // Clear out the data for the non active data source
          // so that the server doesn't use the wrong one
          if($('#assetFromFile').hasClass('active')) {
            $('#assetURL').val(null);
          } else {
            $('#fileInput').wrap('<form>').parent('form').trigger('reset');
            $('#fileInput').unwrap();
          }
          $('#uploadForm').submit();
        }
        else {
          for (key in data) {
            var error = data[key];

            if (key === 'all') {
              var dl = $('#otherErrors');
            }
            else {
              var dl = $('[name="' + key + '"]').closest('dl');
            }

            dl.addClass('error');
            for (var i = 0; i < error.length; i++) {
              dl.append('<dd class="error">' + error[i] + '</dd>');
            }
          }
          $('#uploadButton').button('reset');
        }
      }
    });
    return false;
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('.upload-info').hide();
    $('#retinaNameContainer').hide();
    $('#previewImageButton').hide();

    $('#fileInput').change(preProcessAsset);
    $('#assetURL').change(preProcessAsset);
    if ($('#assetURL').val()) {
      $('#assetURL').change();
    }

    $(document).on('shown.bs.tab', 'a[href="#assetFromFile"]', function() {
      $('#fileInput').change();
    });

    $(document).on('shown.bs.tab', 'a[href="#assetFromURL"]', function() {
      $('#assetURL').change();
    });

  })
</script>
}
